<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <img src="{{ '/assets/Bild2232.png' | relative_url }}" alt="Logo" style="max-width: 100%; height: auto; display: block; margin: 0 auto 1.5rem auto;">
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="{{ '/' | relative_url }}">Willkommen</a>
    <a class="sidebar-nav-item" href="{{ '/about/' | relative_url }}">Über mich</a>
    <a class="sidebar-nav-item" href="{{ '/contact/' | relative_url }}">Kontakt</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
